<div class="container container-navbar-fix">
	<div class="row">
		<h1 class="text-center">Currently available in Hong Kong... Other cities coming soon!</h1>
	</div>
	<div style="width: 100%; height: 5px; background: #F87431; overflow: hidden;">
</div>