<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
 -->  <!-- Indicators -->
  <!-- <div class="carousel-inner">
    <div class="item active">
      <img data-src="holder.js/900x500/auto/#777:#7a7a7a/">
      <div class="container">
        <div class="carousel-caption">
          <h1>Example headline.</h1>
          <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
  </div>
</div> --><!-- /.carousel -->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div id="posts" class="row">
    <div class="col-lg-3 col-user post">
      <h3>Jonathan Lau</h3>
      <p>Passionate about environmental justice <em>and 12 other causes</em></p>
      <p>$42K raised, $5k donated, 10 ppl helped, 4 ideas</p>
      <p><a class="btn btn-default" href="#" role="button">View profile &raquo;</a></p>
    </div>
  <!--   <div class="col-lg-3 col-user post">
      <h3>Red Cross Foundation</h3>
      <img src='http://placekitten.com/100/100'>
      <p>$4mil raised, 50k followers</p>
      <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
    </div> -->
    <div class="col-lg-3 col-user post">
      <h3>Red Cross</h3>
      <div class="image"><img src='http://placekitten.com/100/100'></div>
      <p>$42K raised, $5k donated, 10 ppl helped, 4 ideas</p>
      <p><a class="btn btn-default" href="#" role="button">View profile &raquo;</a></p>
    </div>
    <div class="col-lg-3 col-user post">
      <h3>Jennfier Huang</h3>
      <p>Help wanted: Looking for bio-lab assistant doing genetics mutation study</p>
      <p><a class="btn btn-default" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-lg-3 col-user post">
      <h3>Fundraiser Video</h3>
      <p>by James Liu</p>
      <iframe title="YouTube video player" class="youtube-player" type="text/html" 
width="200" height="200" src="http://www.youtube.com/embed/W-Q7RMpINVo"
frameborder="0" allowFullScreen></iframe>
    </div>
    <div class="col-lg-3 col-user post">
      <h3>Jennifer Ho</h3>
      <p>Passionate about k-12 education system<em>and 4 other causes</em></p>
      <p>$300 raised, $50 donated, 2 ppl helped, 1 idea</p>
      <p><a class="btn btn-default" href="#" role="button">View profile &raquo;</a></p>
    </div>
    <div class="col-lg-3 col-user post">
      <div class='post-wrapper'>
        <h3>WHO</h3>
        <img src='http://placekitten.com/100/100'>
        <p>$40mil raised, 50k followers</p>
        <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
      </div>
    </div>
    <div class="col-lg-3 col-user post">
      <h3>New Donation</h3>
      <p>$75 to WHO<p>
      <p><em>Thank you Sam Huberman!</em></p>
    </div>
    <div class="col-lg-3 col-user post">
      <h3>Anonymous</h3>
      <p>Breast Cancer Survivor: Looking for post-op support group</p>
      <p><a class="btn btn-default" href="#" role="button">Help &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>

<script>
  $(document).ready(function() {
    $('#posts').isotope({
      itemSelector : '.post'
    });
  });
 </script>