 <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&nbsp;<span class="caret"></span></button>
    <ul class="dropdown-menu" id="airport-select">
      <% Airport.order('city ASC').all.each do |a| %>
      <li><a class="arrival"><%= a.city + a.icao_code %></a></li>
      <% end %>
    </ul>
  </div>