<% title "FAQ" %>
<% description "Frequently Asked Questions for Evolve Travel, Cheap Flights and Hotels" %>
<% keywords "FAQ, travel, Philippines, flights, hotels, deals, cheap" %>
<% set_meta_tags :og => {
  :title    => "FAQ",
  :type     => 'product',
  :url      => request.url,
  :image    => image_path('og_logo.png')
  }
%>

<h1>Test</h1>