/* -------------- GENERAL -----------*/

h1, h2, h3, h4, p {
	font-family: 'Source Sans Pro',sans-serif;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.styled-select {
   width: 40px;
   height: 20px;
   border: 1px solid #ccc;
   margin-top: 5px;
 }


/* --------------- LANDING PAGE IMAGES ---------------*/

.landing-image {
  display: block;
  height: auto;
  max-width: 120%;
}

.logo-home {
  margin: 0 auto;
}

.container-navbar-fix {
  margin-top: 50px;
}

.hr-style {
  
}

.landing-signup {
  color: white;
  h1,h2,h3,h4 {
    margin-top: 0px;
    margin-bottom: 4px;
  }
}

/* --------------- HOW IT WORKS PAGE ---------------*/

div#how_it_works_row {
  margin-top: 40px;
}

div#how_it_works {
  color: white;
}



/* --------------------- FOOTER FIX ---------------- */

html,
body {
  height: 100% !important;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
div#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -100px;
  margin-bottom: 100px !important;
  padding-bottom: 60px !important;
}

/* Set the fixed height of the footer here */
#push {
  height: 60px;
  display: block;
  width: 100%;
}
#footer {
  border-top: 5px #454343 solid;
  height: 40px;
}
#footer {
  background-color: white !important;
  li {
      display: inline-block;
  }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

/* CUSTOMIZE THE IMAGES */

div.marketing img.img-landing {
  width: 140px;
  height: auto;
  margin-top: 0px;
}

/* CUSTOMIZE FOOTER */
.body-div {
  position: relative;
  min-height: 100%;
  margin-left: 0px;
  body {
    position:relative; 
    z-index:1; 
    height:100%; 
    font-family:"Source Sans Pro",Sans-Serif,Helvetica,Arial;
    color:black;
  }
  .footer-fix {
    padding-bottom: 60px;
    padding-top: 60px
  }
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
div.marketing div {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 30px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 75px;
  }
}

/* Landing page columns */

div.row div.col-user {
  width: 275px;
  background-color: white;
  text-align: center;
  border: none;
  margin-top: 14px;
  margin-left: 7px;
  margin-right: 7px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);;
  img {
    width: 100px;
    height: 100px;
  }
  p {
    color: #D54F37;
  }
} 

.container {
  width: 960px !important;
}

div.passenger-controls {
  width: 30%;
  display: inline-block !important;
  p {
    margin-bottom: 0px;
  }
}

/* --------------- LANDING PAGE IMAGES ---------------*/

span.search-results-option {
  div {
    border: 1px solid;
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: center;
    }
  }
}

.logo-home {
  margin: 0 auto;
}

/* --------------- FLIGHT SEARCH RESULTS ---------------*/
div#airline-panel {
  margin-top: 10px;
  text-align: center;
}
div#direct-transfer-panel {
  margin-top: 10px;
  text-align: center;
}
div#time-panel {
  margin-top: 10px;
  text-align: center;
}
div#date-panel {
  margin-top: 10px;
  text-align: center;
}